@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Felix Titling";
  src: url("../assets/fonts/FELIXTI.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
@media screen and (max-width: 576px) {
  html {
    font-size: 14px;
  }
}
body {
  font-family: "Lato", sans-serif !important;
  overflow-x: hidden;
  margin: 0;
}
.font-color-primary {
  color: #243230 !important;
}
.font-color-secondary {
  color: #636363 !important;
}
.font-color-ceramic,
header nav .navbar-collapse .navbar-nav .nav-item .nav-link,
.main-banner-slider-wrapper .carousel .carousel-inner .carousel-item .carousel-caption .btn {
  color: #fffef2 !important;
}
.font-color-white-rock {
  color: #f0e5d6 !important;
}
.bg-color-primary,
.main-banner-slider-wrapper .carousel .carousel-inner .carousel-item .carousel-caption .btn,
.dining-destination-wrapper,
.gallery-view-section-wrapper,
.events-section-wrapper,
footer .footer-top-wrapper .social-media-list li {
  background-color: #243230 !important;
}
.bg-color-ceramic,
.about-us-wrapper {
  background-color: #fffef2 !important;
}
.bg-color-aqua-blue {
  background-color: #0ee3c4 !important;
}
.fs-10 {
  font-size: 0.625rem !important;
}
.fs-12 {
  font-size: 0.75rem !important;
}
.fs-13 {
  font-size: 0.813rem !important;
}
.fs-14,
.primary-btn-wrapper,
.main-banner-slider-wrapper .carousel .carousel-inner .carousel-item .carousel-caption .btn,
.gallery-view-section-wrapper .nav-pills .nav-item .nav-link,
footer .footer-top-wrapper .input-group .input-group-text,
footer .footer-bottom-wrapper .footer-nav-list li a {
  font-size: 0.875rem !important;
}
.fs-15 {
  font-size: 0.938rem !important;
}
.fs-16,
footer .footer-top-wrapper .input-group .form-control {
  font-size: 1rem !important;
}
.fs-17 {
  font-size: 1.063rem !important;
}
.fs-18 {
  font-size: 1.125rem !important;
}
.fs-20 {
  font-size: 1.25rem !important;
}
.fs-22 {
  font-size: 1.375rem !important;
}
.fs-24 {
  font-size: 1.5rem !important;
}
.fs-26 {
  font-size: 1.625rem !important;
}
.fs-28 {
  font-size: 1.75rem !important;
}
.fs-30 {
  font-size: 1.875rem !important;
}
.fs-32 {
  font-size: 2rem !important;
}
.fs-34 {
  font-size: 2.125rem !important;
}
.fs-35 {
  font-size: 2.188rem !important;
}
.fs-36 {
  font-size: 2.25rem !important;
}
.fs-40 {
  font-size: 2.5rem !important;
}
.fs-42 {
  font-size: 2.625rem !important;
}
.fs-50 {
  font-size: 3.125rem !important;
}
.fs-55 {
  font-size: 3.438rem !important;
}
.fs-72 {
  font-size: 4.5rem !important;
}
.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400,
.main-banner-slider-wrapper .carousel .carousel-inner .carousel-item .carousel-caption h3,
footer .footer-top-wrapper .input-group .form-control {
  font-weight: 400 !important;
}
.fw-500,
.primary-btn-wrapper,
header nav .navbar-collapse .navbar-nav .nav-item .nav-link,
.main-banner-slider-wrapper .carousel .carousel-inner .carousel-item .carousel-caption .btn,
.gallery-view-section-wrapper .nav-pills .nav-item .nav-link,
footer .footer-top-wrapper .input-group .input-group-text,
footer .footer-bottom-wrapper .footer-nav-list li a {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700,
header nav .navbar-brand {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}
.font-family-felix-titling {
  font-family: "Felix Titling", sans-serif !important;
}
.primary-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: auto;
  color: #fffef2 !important;
  background: #243230 !important;
  height: 3.188rem;
  border-radius: 0.313rem;
  padding: 0 1.75rem;
  text-decoration: none;
  letter-spacing: 0.125rem;
  transition: transform 0.8s ease, letter-spacing 0.8s ease;
}
.primary-btn-wrapper:hover {
  letter-spacing: 0.2rem;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: transform 0.8s ease-in-out;
}
header:has(.navbar-collapse.show, .navbar-collapse.collapsing) {
  background-color: #243230;
}
header nav {
  flex-direction: column;
}
@media screen and (max-width: 991px) {
  header nav {
    flex-direction: row;
  }
}
header nav .navbar-brand {
  margin: 0;
  font-size: 4.5rem;
  color: #ffffff;
}
@media screen and (max-width: 991px) {
  header nav .navbar-brand {
    font-size: 2.5rem;
  }
}
header nav .navbar-toggler {
  border-color: #ffffff;
  box-shadow: none !important;
}
header nav .navbar-toggler .navbar-toggler-icon {
  background-image: url(../assets/images/hamburger.svg);
}
header nav .navbar-collapse .navbar-nav {
  gap: 2.5rem;
}
@media screen and (max-width: 991px) {
  header nav .navbar-collapse .navbar-nav {
    gap: 1rem;
  }
}
header nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.125rem;
  text-transform: uppercase;
  position: relative;
  padding: 0 0 1rem 0;
}
@media screen and (max-width: 991px) {
  header nav .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 0.875rem;
    padding: 0 0 0.5rem 0;
    width: fit-content;
  }
}
header nav .navbar-collapse .navbar-nav .nav-item .nav-link::after {
  content: "";
  width: 100%;
  height: 0.125rem;
  background: #0ee3c4;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
  opacity: 0;
}
header nav .navbar-collapse .navbar-nav .nav-item .nav-link.active::after,
header nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover::after {
  opacity: 1;
}
.main-banner-slider-wrapper .carousel .carousel-inner .carousel-item {
  padding: 22% 0 10rem;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
}
.main-banner-slider-wrapper .carousel .carousel-inner .carousel-item::before {
  content: "";
  background-color: #00000080;
  position: absolute;
  inset: 0;
}
@media screen and (max-width: 991px) {
  .main-banner-slider-wrapper .carousel .carousel-inner .carousel-item {
    padding: 30% 0 10rem;
  }
}
@media screen and (max-width: 576px) {
  .main-banner-slider-wrapper .carousel .carousel-inner .carousel-item {
    padding: 40% 0 5rem;
  }
}
.main-banner-slider-wrapper .carousel .carousel-inner .carousel-item.carousel-item-1 {
  background-image: url(../assets/images/main_banner_img.png);
}
@supports (background-image: url("image.webp")) {
  .main-banner-slider-wrapper .carousel .carousel-inner .carousel-item.carousel-item-1 {
    background-image: url("../assets/images/main_banner_img.webp");
  }
}
.main-banner-slider-wrapper .carousel .carousel-inner .carousel-item.carousel-item-2 {
  background-image: url(../assets/images/main_banner_img.png);
}
@supports (background-image: url("image.webp")) {
  .main-banner-slider-wrapper .carousel .carousel-inner .carousel-item.carousel-item-2 {
    background-image: url("../assets/images/main_banner_img.webp");
  }
}
.main-banner-slider-wrapper .carousel .carousel-inner .carousel-item.carousel-item-3 {
  background-image: url(../assets/images/main_banner_img.png);
}
@supports (background-image: url("image.webp")) {
  .main-banner-slider-wrapper .carousel .carousel-inner .carousel-item.carousel-item-3 {
    background-image: url("../assets/images/main_banner_img.webp");
  }
}
.main-banner-slider-wrapper .carousel .carousel-inner .carousel-item .carousel-caption {
  position: inherit;
  padding: 0;
  left: 0;
  right: 0;
  padding: 0 1rem;
}
.main-banner-slider-wrapper .carousel .carousel-inner .carousel-item .carousel-caption h3 {
  font-family: "Felix Titling", sans-serif !important;
  font-size: 3rem;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
@media screen and (max-width: 576px) {
  .main-banner-slider-wrapper .carousel .carousel-inner .carousel-item .carousel-caption h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
.main-banner-slider-wrapper .carousel .carousel-inner .carousel-item .carousel-caption .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: auto;
  height: 3.188rem;
  border-radius: 0.313rem;
  padding: 0 1.75rem;
  text-decoration: none;
  transition: transform 0.8s ease;
}
.main-banner-slider-wrapper .carousel .carousel-inner .carousel-item .carousel-caption .btn:hover {
  transform: scale(1.1);
}
.main-banner-slider-wrapper .carousel .carousel-indicators {
  gap: 0.75rem;
  margin: auto;
  bottom: 3.75rem;
}
@media screen and (max-width: 576px) {
  .main-banner-slider-wrapper .carousel .carousel-indicators {
    bottom: 1.5rem;
  }
}
.main-banner-slider-wrapper .carousel .carousel-indicators button {
  width: 0.688rem;
  height: 0.688rem;
  border-radius: 50%;
  margin: 0;
}
.about-us-wrapper {
  padding: 7.5rem 0 6.25rem;
}
@media screen and (max-width: 991px) {
  .about-us-wrapper {
    padding: 3.5rem 0;
  }
}
.about-us-wrapper img {
  margin-top: 6.25rem;
}
@media screen and (max-width: 991px) {
  .about-us-wrapper img {
    margin-top: 0;
  }
}
.dining-destination-wrapper {
  padding: 4.75rem 0 4.375rem;
}
@media screen and (max-width: 991px) {
  .dining-destination-wrapper {
    padding: 2rem 0;
  }
}
.dining-destination-wrapper .dining-destination-list {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3.75rem;
  padding: 4.188rem 6.25rem 4.188rem;
  position: relative;
}
.dining-destination-wrapper .dining-destination-list::before {
  content: url(../assets/images/wave_img.png);
  position: absolute;
  width: 10rem;
  height: 3.75rem;
  display: block;
  bottom: 0;
  left: 6.25rem;
}
@media screen and (max-width: 991px) {
  .dining-destination-wrapper .dining-destination-list::before {
    display: none;
  }
}
.dining-destination-wrapper .dining-destination-list::after {
  content: url(../assets/images/wave_img.png);
  position: absolute;
  width: 10rem;
  height: 3.75rem;
  display: block;
  top: -2rem;
  right: 6.25rem;
}
@media screen and (max-width: 991px) {
  .dining-destination-wrapper .dining-destination-list::after {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .dining-destination-wrapper .dining-destination-list {
    padding: 2rem 2rem;
  }
}
.dining-destination-wrapper .dining-destination-list h3 {
  font-size: 2.5rem;
}
@media screen and (max-width: 768px) {
  .dining-destination-wrapper .dining-destination-list h3 {
    font-size: 1.563rem;
  }
}
.dining-destination-wrapper .dining-destination-list .dining-btn-left {
  width: 5.25rem;
  padding: 0;
}
@media screen and (max-width: 991px) {
  .dining-destination-wrapper .dining-destination-list .dining-btn-left {
    position: absolute;
    left: 2rem;
    bottom: -2rem;
  }
}
.dining-destination-wrapper .dining-destination-list .dining-btn-right {
  width: 5.25rem;
  padding: 0;
}
@media screen and (max-width: 991px) {
  .dining-destination-wrapper .dining-destination-list .dining-btn-right {
    position: absolute;
    right: 2rem;
    bottom: -2rem;
  }
}
.dining-destination-wrapper .dining-destination-list ul {
  flex-grow: 1;
  display: flex;
  gap: 3.125rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.dining-destination-wrapper .dining-destination-list ul::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 991px) {
  .dining-destination-wrapper .dining-destination-list ul {
    gap: 1.5rem;
  }
}
.dining-destination-wrapper .dining-destination-list ul li {
  flex-shrink: 0;
  width: 27.25rem;
  height: auto;
  position: relative;
  padding-bottom: 3.5rem;
}
@media screen and (max-width: 991px) {
  .dining-destination-wrapper .dining-destination-list ul li {
    width: 18.75rem;
  }
}
.dining-destination-wrapper .dining-destination-list ul li img {
  width: 100%;
}
.dining-destination-wrapper .dining-destination-list ul li .dining-destination-card {
  background: #ffffff;
  padding: 2.375rem;
  backdrop-filter: blur(20px);
  border-radius: 0.313rem;
  height: 7.875rem;
  overflow: hidden;
  max-height: 7.875rem;
  position: absolute;
  bottom: 0rem;
  left: 1.5rem;
  right: 10%;
  transition: max-height 0.8s ease;
}
@media screen and (max-width: 991px) {
  .dining-destination-wrapper .dining-destination-list ul li .dining-destination-card {
    left: 1rem;
    right: 1rem;
    padding: 1.375rem;
    height: 5.875rem;
    max-height: 5.875rem;
    bottom: 0.5rem;
  }
}
.dining-destination-wrapper .dining-destination-list ul li .dining-destination-card:hover {
  max-height: 20rem;
  height: auto;
}
@media screen and (max-width: 991px) {
  .dining-destination-wrapper .dining-destination-list ul li .dining-destination-card h5 {
    font-size: 1.25rem !important;
  }
}
@media screen and (max-width: 991px) {
  .dining-destination-wrapper .dining-destination-list ul li .dining-destination-card p {
    font-size: 1rem !important;
  }
}
.dining-destination-wrapper .dining-destination-list ul li .dining-destination-card .dining-destination-card-content {
  padding-top: 1.75rem;
}
@media screen and (max-width: 991px) {
  .dining-destination-wrapper .dining-destination-list ul li .dining-destination-card .dining-destination-card-content {
    padding-top: 1.2rem;
  }
}
.dining-destination-wrapper .dining-destination-list ul li .dining-destination-card .dining-destination-card-content p {
  white-space: wrap;
}
.dining-destination-wrapper .view-more-btn {
  background: #ffffff !important;
  color: #243230 !important;
}
@media screen and (max-width: 576px) {
  .dining-destination-wrapper .view-more-btn {
    margin-top: 3rem;
  }
}
.gallery-view-section-wrapper {
  padding: 4.625rem 0 8.75rem;
}
@media screen and (max-width: 991px) {
  .gallery-view-section-wrapper {
    padding: 2rem 0;
  }
}
.gallery-view-section-wrapper h3 {
  font-size: 2.5rem;
  margin-bottom: 3.125rem;
}
@media screen and (max-width: 768px) {
  .gallery-view-section-wrapper h3 {
    font-size: 1.563rem;
  }
}
.gallery-view-section-wrapper .nav-pills {
  align-items: center;
  justify-content: center;
  column-gap: 2.5rem;
  row-gap: 1rem;
  margin-bottom: 2.5rem;
}
.gallery-view-section-wrapper .nav-pills .nav-item .nav-link {
  color: #ffffff;
  background: transparent;
  text-transform: uppercase;
  padding: 0 0 0.625rem;
  position: relative;
}
.gallery-view-section-wrapper .nav-pills .nav-item .nav-link::after {
  content: "";
  width: 100%;
  height: 0.125rem;
  background: #0ee3c4;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
  opacity: 0;
}
.gallery-view-section-wrapper .nav-pills .nav-item .nav-link.active::after,
.gallery-view-section-wrapper .nav-pills .nav-item .nav-link:hover::after {
  opacity: 1;
}
.events-section-wrapper {
  padding: 4.375rem 0;
}
@media screen and (max-width: 991px) {
  .events-section-wrapper {
    padding: 2rem 0;
  }
}
.events-section-wrapper h3 {
  font-size: 2.5rem;
  margin-bottom: 3.625rem;
}
@media screen and (max-width: 768px) {
  .events-section-wrapper h3 {
    font-size: 1.563rem;
    margin-bottom: 1.625rem;
  }
}
.events-section-wrapper .event-list-wrapper ul {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  gap: 3.75rem;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  list-style: none;
  padding: 0 12rem;
  margin: 0 0 4.375rem;
}
.events-section-wrapper .event-list-wrapper ul::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 991px) {
  .events-section-wrapper .event-list-wrapper ul {
    gap: 1.5rem;
    padding: 0 6rem;
  }
}
@media screen and (max-width: 576px) {
  .events-section-wrapper .event-list-wrapper ul {
    padding: 0 1rem;
  }
}
.events-section-wrapper .event-list-wrapper ul li {
  flex-shrink: 0;
  max-width: 31.25rem;
}
@media screen and (max-width: 576px) {
  .events-section-wrapper .event-list-wrapper ul li {
    max-width: 15.625;
  }
}
.events-section-wrapper .event-list-wrapper ul li a {
  text-decoration: none;
}
.events-section-wrapper .event-list-wrapper ul li .event-card-wrapper {
  box-shadow: 3px 4px 30px 0px #00000033;
  border-radius: 0.313rem;
  overflow: hidden;
  user-select: none;
  /* Standard property */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
}
.events-section-wrapper .event-list-wrapper ul li .event-card-wrapper .event-card-header img {
  pointer-events: none;
}
.events-section-wrapper .event-list-wrapper ul li .event-card-wrapper .event-card-body {
  white-space: wrap;
  padding: 1.25rem 1.875rem;
}
.events-section-wrapper .event-list-wrapper ul li .event-card-wrapper .event-card-body h6 {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.events-section-wrapper .event-list-wrapper ul li .event-card-wrapper .event-card-body h5 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.events-section-wrapper .event-list-wrapper ul li .event-card-wrapper .event-card-body p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.events-section-wrapper .event-list-wrapper ul li .event-card-wrapper .event-card-footer a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: wrap;
  padding: 1.25rem 1.875rem;
}
.events-section-wrapper .event-list-wrapper ul li .event-card-wrapper .event-card-footer p {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
footer {
  padding: 4.5rem 0 0 0;
}
footer .footer-top-wrapper {
  padding-bottom: 2.438rem;
}
footer .footer-top-wrapper h4 {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 768px) {
  footer .footer-top-wrapper h4 {
    font-size: 1.563rem;
    margin-bottom: 1rem;
  }
}
footer .footer-top-wrapper .input-group .form-control {
  height: 3.563rem;
  border-top-left-radius: 0.313rem;
  border-bottom-left-radius: 0.313rem;
  border: none;
  background-color: #f2f1e3;
  padding-left: 1.563rem;
  padding-right: 1.563rem;
}
footer .footer-top-wrapper .input-group .input-group-text {
  border-top-right-radius: 0.313rem;
  border-bottom-right-radius: 0.313rem;
  background-color: #243230;
  color: #ffffff;
  letter-spacing: 0.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.75rem;
  text-decoration: none;
  cursor: pointer;
}
footer .footer-top-wrapper .social-media-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.563rem;
}
footer .footer-top-wrapper .social-media-list li {
  width: 3.188rem;
  height: 3.188rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-top-wrapper .social-media-list li a {
  text-decoration: none;
  cursor: pointer;
}
footer .footer-bottom-wrapper {
  border-top: 0.063rem solid #b6b6b6;
  padding: 2.375rem 0;
}
footer .footer-bottom-wrapper .footer-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.563rem;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  footer .footer-bottom-wrapper .footer-nav-list {
    flex-direction: column;
  }
}
footer .footer-bottom-wrapper .footer-nav-list li a {
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  color: black;
}
footer .footer-bottom-wrapper .footer-nav-list li a::after {
  content: "";
  width: 100%;
  height: 0.125rem;
  background: #243230;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
  opacity: 0;
}
footer .footer-bottom-wrapper .footer-nav-list li a.active::after,
footer .footer-bottom-wrapper .footer-nav-list li a:hover::after {
  opacity: 1;
}
